# Pandas: grouping

In [379]:
import pandas as pd
import numpy as np

In [380]:
cars_df = pd.read_csv("data/vehicles.csv")

In [381]:
cars_df.value_counts()
# There are 35,952 cars

Make           Model               Year  Engine Displacement  Cylinders  Transmission     Drivetrain        Vehicle Class                Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
AM General     DJ Po Vehicle 2WD   1984  2.5                  4.0        Automatic 3-spd  2-Wheel Drive     Special Purpose Vehicle 2WD  Regular    19.388824          18        17           17            522.764706               1950              1
Mercedes-Benz  E500                1994  5.0                  8.0        Automatic 4-spd  Rear-Wheel Drive  Compact Cars                 Premium    20.600625          14        18           16            555.437500               2550              1
               E430                2000  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    18.311667          16        22           18            493.722222               2250              1
                                   2001  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    17.347895          16        23           19            467.736842               2150              1
                                   2002  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    18.311667          16        23           18            493.722222               2250              1
                                                                                                                                                                                                                                                      ..
Ford           E250 Econoline 2WD  1996  5.8                  8.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    25.354615          11        16           13            683.615385               2550              1
                                         4.9                  6.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        15           12            740.583333               2800              1
                                                                         Automatic 3-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        13           12            740.583333               2800              1
                                   1995  5.8                  8.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        15           12            740.583333               2800              1
smart          fortwo coupe        2016  0.9                  3.0        Manual 5-spd     Rear-Wheel Drive  Two Seaters                  Premium    9.417429           32        39           35            255.000000               1150              1
Length: 35952, dtype: int64

In [382]:
print(cars_df.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

How many Car models?

In [383]:
cars_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [384]:
cars_model =cars_df['Model'].value_counts()
cars_model

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [385]:
cars_df.groupby(["Make"]).count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [386]:
total_brands = cars_df.groupby("Make")['Model'].count().reset_index()

total_brands

                            Make  Model
0                     AM General      4
1               ASC Incorporated      1
2                          Acura    302
3                     Alfa Romeo     41
4    American Motors Corporation     22
..                           ...    ...
122                   Volkswagen   1047
123                        Volvo    717
124        Wallace Environmental     32
125                         Yugo      8
126                        smart     20

[127 rows x 2 columns]

In [387]:
total_brands = cars_df.groupby("Make")['Model'].count().reset_index()
total_brands[total_brands['Model'] == total_brands ['Model'].max()]

         Make  Model
20  Chevrolet   3643

In [388]:
#number of cars with 6 cilind
cars_df[cars_df['Cylinders']==6].shape[0]

12765

<b>show the average CO2_Emission_Grams/Km  by Brand

In [389]:
## Convert the CO2 Emission Grams/Mile to Emission_Grams/Km 
print(cars_df.loc[:,"CO2 Emission Grams/Mile"])
cars_df.loc[:,"CO2 Emission Grams/Mile"] = cars_df.loc[:,"CO2 Emission Grams/Mile"] / 1.60934
cars_df.rename(columns = {'CO2 Emission Grams/Mile':'CO2 Emission Grams/Km'}, inplace = True)
print(cars_df['CO2 Emission Grams/Km'].head())

0        522.764706
1        683.615385
2        555.437500
3        683.615385
4        555.437500
            ...
35947    244.000000
35948    243.000000
35949    244.000000
35950    246.000000
35951    255.000000
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64
0    324.831736
1    424.779962
2    345.133719
3    424.779962
4    345.133719
Name: CO2 Emission Grams/Km, dtype: float64

In [390]:
##  Show the average CO2_Emission_Grams/Km by Brand
cars_df.groupby(["Make"])["CO2 Emission Grams/Km"].mean()

Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
                                  ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [391]:
cars_df.groupby(["Make"])["CO2 Emission Grams/Km"].mean().sort_values(ascending = False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [392]:
cars_df['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [393]:
cars_df['Year'].describe()
cars_df["Decade"] = pd.cut(cars_df["Year"],bins=[1980,1989,1999,2009,2019], labels=["80s","90s","00s","10s"], retbins=False, precision=3, duplicates='raise')

In [394]:
cars_df.groupby("Decade")["Decade"].count()

Decade
80s     6858
90s     9410
00s    10585
10s     9099
Name: Decade, dtype: int64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [395]:
print(cars_df.loc[:,"City MPG"])
cars_df.loc[:,"City MPG "] = cars_df.loc[:,"City MPG"] * (1.60934 / 3.78541)
cars_df.rename(columns = {'City MPG':'City KM/L'}, inplace = True)
cars_df.loc[:,"Highway MPG "] = cars_df.loc[:,"Highway MPG"] * (1.60934 / 3.78541)
cars_df.rename(columns = {'Highway MPG':'Highway KM/L'}, inplace = True)




print(cars_df['City KM/L'].head())
print(cars_df['Highway KM/L'].head())

0        18
1        13
2        16
3        13
4        14
         ..
35947    34
35948    34
35949    34
35950    34
35951    32
Name: City MPG, Length: 35952, dtype: int64
0    18
1    13
2    16
3    13
4    14
Name: City KM/L, dtype: int64
0    17
1    13
2    17
3    13
4    21
Name: Highway KM/L, dtype: int64

In [396]:
cars_df.groupby(['Decade'])['City KM/L'].mean()

Decade
80s    17.327209
90s    16.954091
00s    16.834199
10s    19.546763
Name: City KM/L, dtype: float64

Which brands are more environment friendly?

In [397]:
### TO ASK TA
cars_df.groupby(['Decade','Make'])['CO2 Emission Grams/Km'].mean().sort_values(ascending = True)

Decade  Make
10s     Fisker                         105.011992
00s     smart                          153.392764
10s     smart                          153.524374
80s     Daihatsu                       170.046613
10s     Fiat                           189.311494
                                          ...
        Vector                                NaN
        Vixen Motor Company                   NaN
        Volga Associated Automobile           NaN
        Wallace Environmental                 NaN
        Yugo                                  NaN
Name: CO2 Emission Grams/Km, Length: 508, dtype: float64

Does the drivetrain affect fuel consumption?

In [398]:
cars_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,Decade,City MPG,Highway MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950,80s,7.652571,7.227428
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550,80s,5.526857,5.526857
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100,80s,6.802286,7.227428
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550,80s,5.526857,5.526857
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550,80s,5.952000,8.928000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100,10s,14.454857,16.155428
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100,10s,14.454857,16.155428
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100,10s,14.454857,16.155428
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100,10s,14.454857,16.580571
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150,10s,13.604571,16.580571

In [399]:
cars_df.groupby(['Drivetrain'])['Highway KM/L','City KM/L'].mean().sort_values(by=["Highway KM/L","City KM/L"],ascending=False)

/var/folders/gl/wtjqj5px2jl3hdc0vqg5hddw0000gn/T/ipykernel_1345/453458310.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars_df.groupby(['Drivetrain'])['Highway KM/L','City KM/L'].mean().sort_values(by=["Highway KM/L","City KM/L"],ascending=False)

                            Highway KM/L  City KM/L
Drivetrain
2-Wheel Drive, Front           33.000000  25.000000
Front-Wheel Drive              28.616759  21.174563
All-Wheel Drive                25.597352  18.312898
4-Wheel Drive                  22.741966  16.913989
Rear-Wheel Drive               21.225680  15.422049
4-Wheel or All-Wheel Drive     19.633708  15.035061
2-Wheel Drive                  19.340426  15.624113
Part-time 4-Wheel Drive        19.088608  14.620253

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [400]:
transmission_binary = []
for item in list(cars_df["Transmission"]):
    if item.startswith("A") == True:
        transmission_binary.append("Automatic")
    else:
        transmission_binary.append("Manual")
cars_df["Binary Transmission"] = transmission_binary
print(cars_df.head())

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City KM/L  Highway KM/L  Combined MPG  \
0   Regular          19.388824         18            17            17
1   Regular          25.354615         13            13            13
2   Regular          20.600625         16            17            16
3   Regular          25.354615         13            13            13
4   Premium          20.600625         14            21            16

   CO2 Emission Grams/Km  Fuel Cost/Year Decade  City MPG   Highway MPG   \
0             324.831736            1950    80s   7.652571      7.227428
1             424.779962            2550    80s   5.526857      5.526857
2             345.133719            2100    80s   6.802286      7.227428
3             424.779962            2550    80s   5.526857      5.526857
4             345.133719            2550    80s   5.952000      8.928000

  Binary Transmission
0           Automatic
1           Automatic
2           Automatic
3           Automatic
4           Automatic

In [401]:
cars_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,Decade,City MPG,Highway MPG,Binary Transmission
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950,80s,7.652571,7.227428,Automatic
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550,80s,5.526857,5.526857,Automatic
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100,80s,6.802286,7.227428,Automatic
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550,80s,5.526857,5.526857,Automatic
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550,80s,5.952000,8.928000,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100,10s,14.454857,16.155428,Automatic
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100,10s,14.454857,16.155428,Automatic
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100,10s,14.454857,16.155428,Automatic
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100,10s,14.454857,16.580571,Automatic
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150,10s,13.604571,16.580571,Manual

In [402]:
(cars_df.groupby(["Binary Transmission"])["City KM/L"].mean()).sort_values(ascending=False)

Binary Transmission
Manual       18.742754
Automatic    17.119638
Name: City KM/L, dtype: float64

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [403]:
cars_df.groupby(['Binary Transmission'])['Binary Transmission','City KM/L'].agg(['count','mean'])

/var/folders/gl/wtjqj5px2jl3hdc0vqg5hddw0000gn/T/ipykernel_1345/1316875978.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars_df.groupby(['Binary Transmission'])['Binary Transmission','City KM/L'].agg(['count','mean'])

                    City KM/L
                        count       mean
Binary Transmission
Automatic               24290  17.119638
Manual                  11662  18.742754

aggregate with average City_Km/Liter and the minimum of the Trans

In [376]:
cars_df.groupby(["Binary Transmission"])["City KM/L"].min()

Binary Transmission
Automatic    7
Manual       6
Name: City KM/L, dtype: int64